<Context>
	<!-- 连接池设置 --> 
	<Environment name="jdbc/2017_summer/properties/username" type="java.lang.String" value="task"/>
	<Environment name="jdbc/2017_summer/properties/password" type="java.lang.String" value="somethingyouxiduo"/>
	<Environment name="jdbc/2017_summer/properties/url" type="java.lang.String" value="jdbc:mysql://112.124.121.34:3306/2017_summer_activities"/>
	<Environment name="jdbc/2017_summer/properties/defaultAutoCommit" type="java.lang.String" value="false"/>
	<Environment name="jdbc/2017_summer/properties/driverClassName" type="java.lang.String" value="com.mysql.jdbc.Driver"/>
	<Environment name="jdbc/2017_summer/properties/rollbackOnReturn" type="java.lang.String" value="true"/><!-- 如果不是默认提交，则归还连接时默认执行rollback！ -->
	<Environment name="jdbc/2017_summer/properties/validationQuery" type="java.lang.String" value="SELECT 1"/>
	<Environment name="jdbc/2017_summer/properties/maxIdle" type="java.lang.String" value="10"/>
	<Environment name="jdbc/2017_summer/properties/maxTotal" type="java.lang.String" value="10"/>
	<Environment name="jdbc/2017_summer/properties/maxWaitMillis" type="java.lang.String" value="1000"/>
	<Environment name="jdbc/2017_summer/properties/testWhileIdle" type="java.lang.String" value="true"/>
</Context>